#DATABOX

DBOX_API_KEY=your_databox_api_key

# Used only for one-time data source/dataset creation via curl:
# DBOX_ACCOUNT_ID=123456
# DBOX_DATA_SOURCE_ID=1234567

DBOX_GITHUB_DATASET_ID=your_gh_dataset_id
DBOX_NASA_DATASET_ID=your_nasa_dataset_id

#GitHub

GH_ACCESS_TOKEN=your_gh_personal_access_token
GH_REPOS=microsoft/TypeScript,axios/axios,nodejs/node

#NASA

NASA_API_KEY=your_nasa_api_key

#DRY_RUN

DRY_RUN=true